:root {
  --bg-color: hsl(207, 26%, 17%);
  --front-color: hsl(0, 0%, 100%);
  --elements-color: hsl(209, 23%, 22%);
  --detail-color: hsl(0, 0%, 80%);

  --padding: 15%;
  --search-padding: 1rem;
  --border-radius: 5px;
  --box-shadow: hsla(0, 0%, 0%, 0.2) 0px 2px 8px 0px;
}

.Light, .Light * {
  --bg-color: hsl(0, 0%, 98%);
  --front-color: hsl(200, 15%, 8%);
  --elements-color: hsl(0, 0%, 100%);
  --detail-color: hsl(0, 0%, 20%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  background-color: var(--bg-color);
}

@media (min-width: 900px){
  :root {
    --padding: 5%;
  }
}